.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    align-items: flex-start; 
    overflow-x: hidden;
}
@media(max-width: 768px){
    html {
        font-size: 87.5%;
    }
    .container {
        display: flex;
    }   
    main{
        max-width: 50%;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
}